@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    /* font-faily: "Open Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* font-family: "Poppins", sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(257, 40%, 49%);
}
.container {
    height: 100vh;
    background: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}
.container .logo img {
    width: 250px;
}
.container .column {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    gap: 85px;
    margin-top: 85px;
}
.container .column .mockup {
    width: 80%;
}
.container .column .content {
    color: #fff;
    padding-right: 25px;
    margin-top: 40px;
}
.container .column .content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 45px;
    padding-right: 50px;
}
.container .column .content p {
    font-family: "Open Sans", sans-serif;
    padding-right: 80px;
    line-height: 1.5;
    padding-top: 30px;
    font-size: 18px;
}
.container .column .content .btn {
    background-color: #fff;
    width: fit-content;
    margin-top: 30px;
    padding: 15px 60px;
    border-radius: 30px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    box-shadow: -1px 2px 9px 1px #4a4a4a;
}
.container .column .content .btn:hover {
    background-color: hsl(300, 69%, 71%);
}
.container .column .content .btn a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    color: hsl(257, 40%, 49%);
}
.container .column .content .btn:hover a {
    color: #fff;
}
.container .social {
    margin-top: 50px;
    justify-content: end;
    display: flex;
}
.container .social .circle {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.container .social .circle:hover {
    border-color: #e882e8;
}
.container .social img {
    width: 30px;
    margin-left: 30px;
    position: absolute;
    left: -12%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 0.4s;
}
.container .social .circle:hover img {
    filter: invert(66%) sepia(94%) saturate(617%) hue-rotate(236deg) brightness(94%) contrast(92%);
    -webkit-filter: invert(66%) sepia(94%) saturate(617%) hue-rotate(236deg) brightness(94%) contrast(92%);
}
@media (max-width: 1440px) {
    .container {
        background: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
    }
    .container .column {
        display: block;
        text-align: center;
        padding: 0;
    }   
    .container .column .content h1 {
        padding: 0;
    }
    .container .column .content p {
        padding: 20px 0;
    }
    .container .column .content {
        padding: 0;
    }
    .container .column .content .btn {
        margin: auto;
        margin-top: 50px;
    }
    .container .social {
        justify-content: center;
        margin-left: -35px;
    }
}